# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Env
.env
.env.*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log